.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_list {
    li {
      margin-top: 10px;
      list-style-type: none;
      background-color: white;
      width: 250px;
      border-radius: 5px;
      height: 30px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      @media screen and (max-width: 500px) {
        width: 200px;
        height: 20px;
        margin-top: 5px;
      }

      &:hover,
      &:focus,
      &:active {
        @media screen and (min-width: 900px) {
          transform: scale(1.1);
        }
      }
    }
  }
}
