@import './variables';

.collectorItem-block {
  margin-bottom: 10px;
  margin-right: 50px;
  transition: all 0.2s ease-in-out;

  &_link {
    text-decoration: none;
    color: $blueFont;
  }

  &:hover {
    transform: scale(1.03);
  }

  &-wrapper {
    display: flex;
    justify-content: center;
  }

  .itemImg {
    width: 140px;
    @media screen and (max-width: 830px) {
      width: 100px;
    }
    @media screen and (max-width: 500px) {
      width: 70px;
    }

    &:hover {
      background-color: #dde5f4;
      border-radius: 10px;
      border: none;
    }
  }

  .collectorItem-title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
    text-decoration: none !important;
    color: $blueFont;
    @media screen and (max-width: 500px) {
      font-size: 10px;
      margin: 0;
    }
  }
}

.content-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-right: 50px;
  @media screen and (max-width: 500px) {
    margin-right: 40px;
    font-size: 10px;
  }
}
